.alumni {
    background-image: url('../img/kotaks.png');
    background-attachment: fixed;
    background-position: center;

    // background: url('../img/bg-anim.png') repeat $red;
    // background-position: center;
    // background-size: 20%;
    // @media screen and (max-width:766px) {
        
    //     background-size: 50%;
    // }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, #4f0d1f, rgba($red,0.8), $red);
    }
    // .bgbg {
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: auto;

    // }
    .gb {
        position: absolute;
        bottom: 0;
        display: none;
        right: 0;
        width: 35%;
        height: auto;
        opacity: .7;
        @media screen and (max-width:766px) {
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .title {
        text-align: center;
        position: relative;
        width: 50%;
        margin: 0 auto;
        z-index: 8;
        @media screen and (max-width:766px) {
            width: 100%;
        }
        h3 {
            color: yellow;
            font-size: 3rem;
            font-weight: 700;
            @media screen and (max-width:766px) {
                font-size: 2.5rem;
            }
        }
    }

    .player {
        width: 100%;
        height: 320px;
        position: relative;
        padding: 0;
        margin-bottom: 16px;
        box-shadow: 2px 3px 4px black;
        // background: $red2;
        background: linear-gradient(-45deg, #410012, $red2);
        // background: url('../img/bg-anim.png') repeat $red;
        // background-position: center;
        // background-size: 20%;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     inset: 0;
        //     background: linear-gradient(to top, $red, rgba($red,.3), $red);
        // }
        // @media screen and (max-width:766px) {
            
        //     background-size: 50%;
        // }
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 240px;
            height: 240px;
            border-radius: 50%;
            // z-index: -1;
            background: #984f4b;
        }
        .img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 9;
          
            img {
           
                width: 100%;
                // filter: drop-shadow(2px 4px 6px black);
                height: 100%;
                object-fit: contain;
            }
        }
        .all {
            position: absolute;
            top: 0;
            right: 0;
           
            left: 0;
            width: 100%;
            height: 100%;
            &.tops {
                .name {
                    left: 3rem;
                    font-size: 3.7rem;
                    @media screen and (max-width:766px) {
                        left: -1rem;
                    }
                }
            }
            .negara {
                position: absolute;
                left: 25%;
                bottom: 4%;
                color: #9b2547;
                @media screen and (max-width:766px) {
                    left: 20%;
                }
            }
            .name {
                font-size: 3.2rem;
                transform: rotate(-90deg);
                color: #9b2547;
                position: absolute;
                // left: -7rem;
                // text-transform: uppercase;
                
                right: 0rem;
                left: -2.7rem;
                width: fit-content;
                font-weight: 700;
                top: 7rem;
                @media screen and (max-width:766px) {
                    top: 7rem;
                    left: -3rem;
                    font-size: 3rem;
                }
            }
        }
    }

    .color-white {
        color: white;
        h3 {
            font-size: 2.2rem;
            font-weight: bold;
            @media screen and (max-width:766px) {
                text-align: center;
            }
            // font-style: italic;
        }
    }
}