
.credit {
    min-height: auto;
    .all {
        margin-bottom: 16px;
        color: white;
        .title {
            color: #ccc;
        }
        .nama {
            // color: #e0e0e0;
        }
    }
}