.jadwal {
    .titles{
        margin: 0 auto;
        width: fit-content;
        h3{
            color: yellow;
            font-weight: 700;
            font-size: 3rem;
        }
    }

    #myTable {
        color: white;
    }
    .slick-slide {
        margin: 0 8px;
    }
  
    /* the parent */
    .slick-list {
        margin: 0 -8px;
    }
}