.peserta {
    // background-image: url('../img/kotaks.png');
    // background-attachment: fixed;
    // background-position: center;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     background: linear-gradient(to top, #4f0d1f, rgba($red,0.8), $red);
    // }
    .bgbg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .suporter {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bayang {
        position: absolute;
        // inset: 0;
        top: 95%;
        // display: none;
        left: 8px;
        transform: rotate(180deg);
        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(to bottom,$red 70%, rgba($red,.7) 10%);
            width: 100%;
            height: 100%;
            inset: 0;
        }
        img {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
    .images {
        position: relative;
        z-index: 5;
    }
    .title {
        margin-top: 16px;
        h3 {
            color: yellow;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    p {
        color: white;
    }
    .h80 {
        height: 80vh;
    }
    .kolom {
        .atas {
            display: block;
            .nama {
                background: #54bac1;
                display: inline-block;
                margin-left: -16px;
                padding: 8px 24px 8px 16px;
                position: relative;
                z-index: 5;
                color: white;
                border-radius: 0 24px 0px 0;
                font-size: 1.4rem;
                @media screen and (max-width:766px) {
                    font-size: 1rem;
                }
            }
            .logo {
                width: 90px;
                position: relative;
                z-index: 8;
                padding: 8px;
                display: inline-block;
                height: 90px;
                background: #fcfcfc;
                border-radius: 50%;
                @media screen and (max-width:766px) {
                    width: 70px;
                    height: 70px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .bawah {
            position: relative;
            left: 16px;
            width: 80%;
            border-radius: 16px;
            top: -20px;
            padding: 16px;
            background: #835763;
            // background: rgba($color: white, $alpha: .3);
            @media screen and (max-width:766px) {
                top: -16px;
                width: 90%;
                
            }
            ul {
                margin: 0;
                padding: 16px 0 0 16px;
                list-style-type: none;
                @media screen and (max-width:766px) {
                    padding: 0;
                    
                }
            }
            li {
                color: white;
                font-size: 16px;
                padding: 8px;
                border-radius: 20px;
                margin-bottom: 8px;
                display: block;
                .bendera {
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    margin-left: 8px;
                    margin-right: 4px;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .negara {
                    display: inline-block;
                    margin-left: 2px;
                    
                    vertical-align: middle;
                }
                @media screen and (max-width:766px) {
                    padding: 4px 8px;
                    
                }
                // background: rgba($color: white, $alpha: .1);
                background: linear-gradient(to right, rgba(white,.1), transparent);
            }
        }
    }
}